.footer{
   background-color: black;
   padding: 70px 0 30px 0;
}

.logo{
   width: fit-content;
   margin: 0 auto;
}

.copyright{
   width: fit-content;
   margin: 50px auto 0 auto;
   color: #8b8b8b;
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
}